.cart-container {
  min-height: 75vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cart-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.cart-items {
  flex: 1;
  padding-right: 16px;
}
.cart-summary-container {
  gap: 10em;
  display: flex;
  flex-direction: column;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.empty-cart > a{
  color: #0c6484;
}
/* Responsive Styles */
@media (max-width: 1024px) {
  .cart-content {
    flex-direction: column;
  }

  .cart-items {
    padding-right: 0;
  }

  .cart-summary {
    width: 100%;
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .cart-title {
    font-size: 1.5rem;
  }

  .cart-summary {
    width: 100%;
    padding: 12px;
  }

  .summary-row p {
    font-size: 1rem;
  }

  .summary-total p {
    font-size: 1.2rem;
  }

  .total-amount {
    font-size: 1.2rem;
  }

  .checkout-button {
    padding: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .cart-title {
    font-size: 1.2rem;
  }

  .summary-row p {
    font-size: 0.9rem;
  }

  .summary-total p {
    font-size: 1rem;
  }

  .total-amount {
    font-size: 1.2rem;
  }

  .checkout-button {
    padding: 8px;
    font-size: 0.9rem;
  }
}
