.book-slider {
    position: relative;
    width: 100%;
    /* max-width: 800px; */
    /* margin: auto; */
    background-color: cadetblue;
  }
  
  .slide {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .slide img {
    width: 90vw;
    max-height: 25em;
    /* object-fit: cover; */
    border-radius: 16px;
    position: relative;
    top: 3vh;

  }
  
  .quote {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
    font-style: italic;
    position: absolute;
    z-index: 2;
    color: white;
  }
  
  