
  
.card:hover {
  transform: translateY(-5px);
}
  
.card-content {
  padding: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 1em;
}
.card>img{
  width: 10em;
}
.cart-btn{
  color: white;
  border: none;
  background-color: black;
  border-radius: 5px;
  width: 12em;
}
  
.card-btn{
  color: #312BD8;
  background-color: white;
  border: 2px solid black;
  border-radius: 1em;
}
.card-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
  